---
title: About
permalink: en/about/
---
{% include head.html %}

<h1>About Even Rouault</h1>
<div class="text-align-justify">
<p>
<img src="/img/even.png" alt="Even Rouault" align="left" style="padding:15px"/>
I am a C/C++ (as well as Java and Python) software developer, based in France, with strong expertise on the
<a href="http://gdal.org/"><img src="/img/gdalicon.png" alt="GDAL logo"/>GDAL/OGR</a> software,
primarly developed by Frank Warmerdam and now governed by a Project Steering Committee
under the <a href="http://osgeo.org">Open Source Geospatial Foundation (OSGeo)</a>.
I have been involved in the development of the project since 2007.
I am the current chair of its PSC, and contribute to it as
<a href="https://www.openhub.net/p/gdal/contributors">main developer and maintener</a>.
<a href='https://www.openhub.net/accounts/11823?ref=Detailed' target='_blank'>
<img alt='Open Hub profile for Even Rouault' border='0' height='26' src='https://www.openhub.net/accounts/11823/widgets/account_detailed.gif' width='172' />
</a>
</p>
<p>
I am also a committer of <a href="http://mapserver.org">MapServer</a>,
<a href="http://qgis.org">QGIS</a>,
<a href="http://trac.osgeo.org/proj/">PROJ.4</a>,
<a href="http://github.com/uclouvain/openjpeg/">OpenJPEG</a>,
<a href="http://www.remotesensing.org/libtiff/">libtiff</a> and
<a href="http://trac.osgeo.org/geotiff/">libgeotiff</a>,
<a href="http://ogdi.sourceforge.net/">OGDI</a>,
and also involved in the developement of
<a href="http://shapelib.maptools.org/">shapelib</a>.
</p>
<p>
I have been elected as an OSGeo Charter Member in 2011.
</p>
<p>
After many years of heavy involvment in GDAL and MapServer in parallel to other
activities, I've decided to found Spatialys, to be able to dedicate my full time
to bring my expertise around those technologies at your service.
</p>
</div>

{% include foot.html %}