---
title: Home
permalink: en/home/
---
{% include head.html %}

<h1>Welcome to Spatialys</h1>

<div class="row">
    <div class="col-sm-9 text-align-justify">
        <p>Spatialys is a company founded by <a href="/en/about">Even Rouault</a> that is dedicated to
        providing to its clients the best of its expertise around Open Source
        geospatial software and standards.</p>
        <p>Being strongly involved in the core development teams of the
        <a href="http://gdal.org/">GDAL/OGR</a> and <a href="http://mapserver.org/">MapServer</a> and <a href="https://proj.org/">PROJ/PROJ.4</a> projects,
        Spatialys can take care of designing and developing <a href="/en/projects">new features</a>
        that will be included into the mainline of those projects, with
        the appropriate level of quality insurance and documentation.</p>
        <p>Spatialys can assist you in deploying those technologies in your
        infrastructure, and optimizing their use to your needs.</p>
<!--
        <h2>Our recent projects</h2>
        {% for post in site.categories.projects limit:2 %}
            <h4 class="media-heading"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <div class="media">
                <img class="media-object pull-right thumbnail" src="/thumbs/{{ post.thumbnail }}">
                <div class="media-body">
                    {{ post.excerpt | markdownify }}
                </div>
            </div>
        {% endfor %}
        <p><a href="/projects">More projects <i class="icon-double-angle-right"></i></a></p>
-->
    </div>
    <div class="col-sm-3">
        <h2>Technologies</h2>
        <div class="list-group">
            <a class="list-group-item" href="https://gdal.org/"><img src="/img/gdalicon.png" style="padding:1px" alt="GDAL logo"/>GDAL/OGR</a>
            <a class="list-group-item" href="https://mapserver.org/"><img src="/img/mapservericon.png" style="padding:2px" alt="MapServer logo">MapServer</a>
            <a class="list-group-item" href="https://qgis.org/"><img src="/img/qgisicon.png" style="padding:2px" alt="QGIS logo">QGIS</a>
            <a class="list-group-item" href="https://proj.org/"><img src="/img/projicon.png" alt="PROJ logo"></a>
        </div>

        <h2>Find us</h2>
        <div class="list-group">
            <a class="list-group-item" href="mailto:contact@spatialys.com"><i class="icon-envelope icon-fixed-width"></i>Email</a>
            <a class="list-group-item" href="https://github.com/rouault"><i class="icon-github icon-fixed-width"></i>GitHub</a>
            <a class="list-group-item" href="https://twitter.com/evenrouault"><i class="icon-twitter icon-fixed-width"></i>Twitter</a>
        </div>
    </div>
</div>

{% include foot.html %}