---
title: Opinions
permalink: en/opinions/
---
{% include head.html %}

<a id="open_source_misconceptions"></a>
<h1>Fighting misconceptions about Open source</h1>

<p>
This paragraph tries to address some misconceptions that are sometimes seen
in exchanges with users of Free and Open Source software.
<p/>
<p>
As a general rule, if you use a Free and Open Source software, you
should not expect any level of support from anyone, unless you have made an
arrangement with a service provider.
Depending on the project, willingness and available time of
other users or developers of the software, you might get an answer. But you should
consider it as an exceptional priviledge, a matter of a luck, certainly not as a due.
Your general expectation should be that you should be ready to be your own support
if you do not explicitly buy support from someone else.
And that is actually the main strength of Free and Open Source software: you are not dependent
on anyone else to do whatever you want with the software. This is what makes open
source software fundamentaly different from proprietary one. The corollary is that
you should not expect anyone to feel concerned by the issue you face or your own needs.
Expecting bugs to be corrected because you reported them is not an efficient way of
getting them fixed. Sometimes someone might actually fix the bug, because it was
important to them... or to another entity who has funded the fix.
</p>
<p>
Free (as in "freedom") and Open Source does not mean gratis: the end-result might
appear to be gratis, but the work that has been needed to reach that result
is - generally - not gratis.
</p>
<p>
If you are using a Free and Open Source software that is important for your operations,
you should consider to engage actively with its community, either by spending time
to take your own share of the burden of maintaining it, or by funding its maintainers.
If everybody expects others to participate/pay for them, projects will end up dying.
</p>


{% include foot.html %}
