---
title: Projects
permalink: en/projects/
---
{% include head.html %}

<h1>Projects</h1>

<h2>Key accomplishments in GDAL/OGR</h2>

<p>
Design and implementation of many features in the GDAL/OGR core:
</p>
<ul>
<li>Unification of raster and vector driver models, per <a href="http://trac.osgeo.org/gdal/wiki/rfc46_gdal_ogr_unification">RFC 46</a>, for GDAL 2.0.</li>
<li>Use of the <a href="http://gdal.org/ogr_sql_sqlite.html">OGR SQL SQLite</a> dialect.</li>
<li>Support for multiple geometry fields per vector layer, per <a href="http://trac.osgeo.org/gdal/wiki/rfc41_multiple_geometry_fields">RFC 41</a>.</li>
<li>Support for curve geometries, per <a href="http://trac.osgeo.org/gdal/wiki/rfc49_curve_geometries">RFC 49</a>.</li>
<li>Support for sub-types of attributes of vector features, per <a href="http://trac.osgeo.org/gdal/wiki/rfc50_ogr_field_subtype">RFC 50</a>.</li>
<li>Support for 64 bit integers for attributes and identifiers of vector features, per <a href="http://trac.osgeo.org/gdal/wiki/rfc31_ogr_64">RFC 31</a>.</li>
<li>Support dataset transactions, per <a href="https://trac.osgeo.org/gdal/wiki/rfc54_dataset_transactions">RFC 54</a>.</li>
<li>Addition of millisecond accuracy for dates, per <a href="https://trac.osgeo.org/gdal/wiki/rfc56_millisecond_precision">RFC 56</a>.</li>
<li><a href="http://www.gdal.org/structGDALWarpOptions.html#a0ed77f9917bb96c7a9aabd73d4d06e08">Multithreading</a> in the computational part of the image warping.</li>
<li><a href="http://gdal.org/gdal_api_proxy.html">GDAL_API_PROXY</a> mechanism to off-load the execution of a driver in another process.</li>
<li>Mechanism to expose GDAL datasets and raster bands as virtual memory mappings, per <a href="http://trac.osgeo.org/gdal/wiki/rfc45_virtualmem">RFC 45</a>.</li>
<li>Support for several resampling algorithms in RasterIO() API, per <a href="http://trac.osgeo.org/gdal/wiki/rfc51_rasterio_resampling_progress">RFC 51</a>.</li>
<li>Support for rasters of very large dimensions, per <a href="https://trac.osgeo.org/gdal/wiki/rfc26_blockcache">RFC 26</a></li>
<li>Improvements in <a href="http://erouault.blogspot.fr/2014/10/warping-overviews-and-warped-overviews.html">overview resampling and use of overviews in warping</a>.</li>
<li>Upgrade of the JP2OpenJPEG (JPEG 2000) driver to comply with Inspire recommandations for orthoimagery, and GMLJP2 v2 standard support.</li>
</ul>

<p>
Reverse engineering of <a href="https://github.com/rouault/dump_gdbtable/wiki/FGDB-Spec">ESRI FileGDB format</a>
</p>

<p>
Writing of new <a href="http://gdal.org/formats_list.html">GDAL (Raster) Drivers</a> :
</p>
<ul>
<li><a href="http://gdal.org/frmt_various.html#ACE2">ACE2</a></li>
<li><a href="http://gdal.org/frmt_various.html#ADRG">ADRG/ARC Digitilized Raster Graphics (.gen/.thf)</a></li>
<li><a href="http://osgeo-org.1560.x6.nabble.com/gdal-dev-BPG-driver-td5184178.html">BPG (Better Portable Graphics)</a></li>
<li><a href="http://gdal.org/frmt_various.html#CTG">USGS LULC Composite Theme Grid</a></li>
<li><a href="http://gdal.org/frmt_various.html#E00GRID">Arc/Info Export E00 GRID</a></li>
<li><a href="http://gdal.org/frmt_various.html#ECRGTOC">ECRG Table Of Contents (TOC.xml)</a></li>
<li><a href="http://gdal.org/frmt_epsilon.html">Epsilon - Wavelet compressed images</a></li>
<li><a href="http://gdal.org/drv_geopackage_raster.html">GeoPackage Raster</a></li>
<li><a href="http://gdal.org/frmt_various.html#GRASSASCIIGrid">GRASS ASCII Grid</a></li>
<li><a href="http://gdal.org/frmt_hf2.html">HF2/HFZ heightfield raster</a></li>
<li><a href="http://gdal.org/frmt_jpegls.html">JPEG-LS</a></li>
<li><a href="http://gdal.org/frmt_jp2openjpeg.html">JPEG2000 (.jp2, .j2k) based on OpenJPEG</a></li>
<li><a href="http://gdal.org/frmt_various.html#KRO">KRO KOLOR Raw format</a></li>
<li><a href="http://gdal.org/frmt_mbtiles.html">MBTiles</a></li>
<li><a href="http://gdal.org/frmt_ozi.html">OZI OZF2/OZFX3</a></li>
<li><a href="http://gdal.org/frmt_pdf.html">Geospatial PDF</a></li>
<li><a href="http://gdal.org/frmt_plmosaic.html">PLMosaic (Planet Labs Mosaics)</a></li>
<li><a href="http://gdal.org/frmt_rasterlite.html">Rasterlite - Rasters in SQLite DB</a></li>
<li><a href="http://gdal.org/frmt_various.html#RPFTOC">Raster Product Format/RPF (CADRG, CIB)</a></li>
<li><a href="http://gdal.org/frmt_various.html#SNODAS">Snow Data Assimilation System</a></li>
<li><a href="http://gdal.org/frmt_various.html#SRTMHGT">SRTM HGT Format</a></li>
<li><a href="http://gdal.org/frmt_webp.html">WEBP</a></li>
<li><a href="http://gdal.org/frmt_wmts.html">WMTS (Web Map Tile Service)</a></li>
<li><a href="http://gdal.org/frmt_xyz.html">ASCII Gridded XYZ</a></li>
<li><a href="http://gdal.org/frmt_various.html#ZMap">ZMap Plus Grid</a></li>
</ul>
<p>
Significant enhancements to the following GDAL drivers :
</p>
<ul>
<li><a href="http://gdal.org/frmt_dted.html">Military Elevation Data (DTED)</a></li>
<li><a href="http://gdal.org/frmt_gtiff.html">TIFF / BigTIFF / GeoTIFF (.tif)</a></li>
<li><a href="http://gdal.org/frmt_nitf.html">NITF</a></li>
<li><a href="http://trac.osgeo.org/gdal/wiki/frmts_wtkraster.html">PostGIS Raster</a></li>
</ul>
<p>
Writing of new <a href="http://gdal.org/ogr_formats.html">OGR (Vector) Drivers</a> :
</p>
<ul>
<li><a href="http://gdal.org/drv_aeronavfaa.html">Aeronav FAA files</a></li>
<li><a href="http://gdal.org/drv_arcgen.html">Arc/Info Generate</a></li>
<li><a href="http://gdal.org/drv_bna.html">Atlas BNA</a></li>
<li><a href="http://gdal.org/drv_cartodb.html">CartoDB</a></li>
<li><a href="http://gdal.org/drv_couchdb.html">CouchDB / GeoCouch</a></li>
<li><a href="http://gdal.org/drv_csw.html">CSW (Catalog Services for the Web)</a></li>
<li><a href="http://gdal.org/drv_edigeo.html">EDIGEO</a></li>
<li><a href="http://gdal.org/drv_geomedia.html">Geomedia .mdb</a></li>
<li><a href="http://gdal.org/drv_georss.html">GeoRSS</a></li>
<li><a href="http://gdal.org/drv_gft.html">Google Fusion Tables</a></li>
<li><a href="http://gdal.org/drv_gpsbabel.html">GPSBabel</a></li>
<li><a href="http://gdal.org/drv_gpx.html">GPX</a></li>
<li><a href="http://gdal.org/drv_htf.html">Hydrographic Transfer Format</a></li>
<li><a href="http://gdal.org/drv_idrisi.html">Idrisi Vector (.VCT)</a></li>
<li><a href="http://gdal.org/drv_jml.html">OpenJUMP .jml</a></li>
<li><a href="http://gdal.org/drv_mdb.html">Access MDB (PGeo and Geomedia capable)</a></li>
<li><a href="http://gdal.org/drv_ods.html">Open Document Spreadsheet</a></li>
<li><a href="http://gdal.org/drv_openair.html">OpenAir</a></li>
<li><a href="http://gdal.org/drv_openfilegdb.html">OpenFileGDB</a></li>
<li><a href="http://gdal.org/drv_osm.html">OpenStreetMap XML and PBF</a></li>
<li><a href="http://gdal.org/drv_pdf.html">Geospatial PDF</a></li>
<li><a href="http://gdal.org/drv_pds.html">PDS</a></li>
<li><a href="http://gdal.org/drv_plscenes.html">PLScenes (Planet Labs Scenes)</a></li>
<li><a href="http://gdal.org/drv_pgdump.html">PostgreSQL SQL dump</a></li>
<li><a href="http://gdal.org/drv_segukooa.html">SEG-P1 / UKOOA P1/90</a></li>
<li><a href="http://gdal.org/drv_segy.html">SEG-Y</a></li>
<li><a href="http://gdal.org/drv_sua.html">SUA</a></li>
<li><a href="http://gdal.org/drv_svg.html">SVG</a></li>
<li><a href="http://gdal.org/drv_wfs.html">OGC WFS (Web Feature Service)</a></li>
<li><a href="http://gdal.org/drv_xls.html">MS Excel format</a></li>
<li><a href="http://gdal.org/drv_xlsx.html">MS Office Open XML spreadsheet</a></li>
<li><a href="http://gdal.org/drv_xplane.html">X-Plane/Flightgear aeronautical data</a></li>
</ul>
<p>
Significant enhancements to the following OGR drivers :
</p>
<ul>
<li><a href="http://gdal.org/drv_gml.html">GML</a></li>
<li><a href="http://gdal.org/drv_filegdb.html">ESRI FileGDB</a></li>
<li><a href="http://gdal.org/drv_libkml.html">LIBKML</a> : work to make it a <a href="http://www.opengeospatial.org/blog/2028">Reference Implementation of OGC KML 2.2 specification</a></li>
<li><a href="http://gdal.org/drv_geopackage.html">GeoPackage</a></li>
<li><a href="http://gdal.org/drv_mitab.html">MapInfo File</a></li>
<li><a href="http://gdal.org/drv_pg.html">PostgreSQL/PostGIS</a></li>
<li><a href="http://gdal.org/drv_shapefile.html">ESRI Shapefile</a></li>
<li><a href="http://gdal.org/drv_sqlite.html">SQLite/SpatiaLite</a></li>
<li><a href="http://gdal.org/drv_vrt.html">VRT - Virtual Datasource</a></li>
</ul>

<p>
Maintainer of the <a href="http://trac.osgeo.org/gdal/wiki/GdalOgrInPython">Python</a> and
<a href="http://trac.osgeo.org/gdal/wiki/GdalOgrInJava">Java</a> bindings, and the <a href="http://gdal.org/java">documentation</a> of the latter one.
</p>

<p>
Code review and integration of the following drivers:
</p>
<ul>
<li><a href="http://gdal.org/frmt_blx.html">Magellan BLX Topo (.blx, .xlb)</a></li>
<li><a href="http://gdal.org/frmt_gta.html">Generic Tagged Arrays (.gta)</a></li>
<li><a href="http://gdal.org/drv_gtm.html">GPSTrackMaker (.gtm, .gtz)</a></li>
<li><a href="http://gdal.org/frmt_various.html#IRIS">IRIS</a></li>
<li><a href="http://gdal.org/frmt_kea.html">KEA</a></li>
<li><a href="http://gdal.org/frmt_map.html">OziExplorer .MAP</a></li>
<li>Northwood/VerticalMapper Classified Grid Format .grc/.tab + Numeric Grid Format .grd/.tab</li>
<li><a href="http://gdal.org/frmt_various.html#SAGA">SAGA GIS Binary format</a></li>
<li><a href="http://gdal.org/drv_selafin.html">Selafin/Seraphin format</a></li>
<li><a href="http://trac.osgeo.org/gdal/ticket/3638">Norwegian SOSI Standard</a></li>
<li><a href="http://gdal.org/drv_walk.html">Walk</a></li>
</ul>

<h2>Key accomplishments in MapServer</h2>

<ul>
<li>Implementation of tile indexes of raster with different projections (<a href="http://www.mapserver.org/development/rfc/ms-rfc-100.html">RFC 100</a>)</li>
<li>Implementation of <a href="http://portal.opengeospatial.org/files/?artifact_id=39967">OGC WFS 2.0</a> protocol (<a href="http://www.mapserver.org/development/rfc/ms-rfc-105.html">RFC 105</a>)</li>
<li>Implementation of 2.5D geometry support for PostGIS and OGR input and WFS/GML output.</li>
</ul>

<h2>Key accomplishments in QGIS</h2>

<ul>
<li><a href="https://github.com/qgis/QGIS-Enhancement-Proposals/issues/53">Upgrade WFS client to manage WFS 1.0 and 1.1 protocols</a></li>
<li>Export of vector layers with human-readable field values</li>
<li>Management of concurrent opening in QGIS and MapInfo of .TAB datasets.</li>
</ul>

<h2>Key accomplishments in OpenJPEG library (JPEG2000 library)</h2>

<ul>
<li><a href="https://github.com/uclouvain/openjpeg/pull/783">Improvements in decoding time of code-blocks</a>, resulting in overall gains of 10-15%</li>
<li><a href="https://github.com/uclouvain/openjpeg/pull/786">Parallelized decompression of decoding of code-blocks and wavelet transform</a></li>
</ul>

<h2>Other projects</h2>

<a href="https://github.com/rouault/seccomp_launcher">"SecComp Launcher"</a>,
an executable that can help handling securely data from untrusted sources.

<!--
{% for post in site.categories.projects %}
	<h4 class="media-heading"><a href="{{ post.url }}">{{ post.title }}</a></h4>
	<div class="media">
		<img class="media-object pull-right thumbnail" src="/thumbs/{{ post.thumbnail }}">
		<div class="media-body">
			{{ post.excerpt | markdownify }}
		</div>
	</div>
{% endfor %}
-->

{% include foot.html %}