---
title: Services
permalink: en/services/
---
{% include head.html %}

<h1>Services</h1>
<div class="text-align-justify">
<p>
Spatialys is in the position of offering the following services to its clients:
</p>
<ul>
<li>improving existing functionnality or developing <b>new functionnality</b> in <b>GDAL/OGR</b> or <b>MapServer</b>,
following the development guidelines of those projects and their quality process,</li>
<li>designing, writing and enhancing translators for <b>new formats</b> in GDAL/OGR,</li>
<li>analyzing performance issues, and implementing enhancements,</li>
<li><b>fixing specific issues</b> they might run into,</li>
<li>polishing their own contributed patches for inclusion in the upstream projects,</li>
<li>providing <b>assistance</b> to integrate GDAL/OGR or MapServer into their own software and infrastructure,</li>
<li>providing broader <b>consulting and expertise</b> on issues related to geospatial data.</li>
<li><b>training</b> at all levels on GDAL/OGR.</li>
</ul>
<p>
And for any other need you may have, related to the above topics, please <a href="/en/contact/">contact us</a>
</p>
</div>

{% include foot.html %}