---
title: About
permalink: fr/about/
---
{% include head_fr.html %}

<h1>A propos d'Even Rouault</h1>
<div class="text-align-justify">
<p>
<img src="/img/even.png" alt="Even Rouault" align="left" style="padding:15px"/>
Je suis un développeur logiciel C/C++ (ainsi que Java et Python), situé en France,
possédant une forte expertise sur le logiciel
<a href="http://gdal.org/"><img src="/img/gdalicon.png" alt="GDAL logo"/>GDAL/OGR</a>,
initialement développé par Frank Warmerdam et désormais gouverné par un Comité de Pilotage Projet (PSC)
sous l'égide de la <a href="http://osgeo.org">Fondation Géospatiale Open Source (OSGeo)</a>.
Je m'implique dans le développement de ce projet depuis 2007, dont je suis l'actuel
président du Comité de Pilotage, et y contribue en tant que
<a href="https://www.openhub.net/p/gdal/contributors">principal développeur et mainteneur</a>.
<a href='https://www.openhub.net/accounts/11823?ref=Detailed' target='_blank'>
<img alt='Open Hub profile for Even Rouault' border='0' height='26' src='https://www.openhub.net/accounts/11823/widgets/account_detailed.gif' width='172' />
</a>
</p>
<p>
J'ai également la capacité de modifier les logiciels <a href="http://mapserver.org">MapServer</a>,
<a href="http://qgis.org">QGIS</a>,
<a href="http://trac.osgeo.org/proj/">PROJ.4</a>,
<a href="http://www.remotesensing.org/libtiff/">libtiff</a> et
<a href="http://trac.osgeo.org/geotiff/">libgeotiff</a>,
<a href="http://ogdi.sourceforge.net/">OGDI</a>,
et suis impliqué dans le développement de
<a href="http://shapelib.maptools.org/">shapelib</a>.
</p>
<p>
J'ai été élu "Charter Member" de l'OSGeo en 2011.
</p>
<p>
Après de nombreuses années largement consacrées à GDAL et MapServer en parallèle
d'autres activités, j'ai décidé de fonder Spatialys, afin de pouvoir faire bénéficier
pleinement mes clients de mon expertise sur ces technologies.
</p>
</div>

{% include foot_fr.html %}