---
title: About
permalink: fr/about/
---
{% include head_fr.html %}

<h1>A propos d'Even Rouault</h1>
<div class="text-align-justify">
<p>
<img src="/img/even.png" alt="Even Rouault" align="left" style="padding:15px"/>
Je suis un développeur logiciel C/C++ (ainsi que Java et Python), situé en France,
possédant une forte expertise sur le logiciel
<a href="http://gdal.org/"><img src="/img/gdalicon.png" alt="GDAL logo"/>GDAL/OGR</a>,
initialement développé par Frank Warmerdam et désormais gouverné par un Comité de Pilotage Projet (PSC)
sous l'égide de la <a href="http://osgeo.org">Fondation Géospatiale Open Source (OSGeo)</a>.
Je m'inplique dans le développement de ce projet depuis 2007, étant membre
de son Comité de Pilotage depuis 2008, et suis désormais son principal mainteneur.
</p>
J'ai également la capacité de modifier les logiciels <a href="http://mapserver.org">MapServer</a>,
<a href="http://trac.osgeo.org/proj/">PROJ.4</a> and
<a href="http://trac.osgeo.org/geotiff/">libgeotiff</a>, et suis impliqué
dans le développement de
<a href="http://shapelib.maptools.org/">shapelib</a> et
<a href="http://www.remotesensing.org/libtiff/">libtiff</a>
</p>
<p>
J'ai été élu "Charter Member" de l'OSGeo en 2011.
</p>
<p>
Après de nombreuses années largement consacrées à GDAL et MapServer en parallèle
d'autres activités, j'ai décidé de fonder Spatialys, afin de me consacrer à
temps complet à fournir mon expertise autour de ces technologies à votre service.
</p>
</div>

{% include foot_fr.html %}