---
title: Contact
permalink: fr/contact/
---
{% include head_fr.html %}

<h1>Nous contacter</h1>
<div class="text-align-justify">
<p>
<i class="icon-envelope icon-fixed-width"></i><b>Email:</b> <a href="mailto:contact@spatialys.com">contact@spatialys.com</a><br>
<i class="icon-phone icon-fixed-width"></i><b>Téléphone</b>: (+33) 9 54 86 93 45<br>
<a href="https://github.com/rouault"><i class="icon-github icon-fixed-width"></i>GitHub</a><br>
<a href="https://twitter.com/evenrouault"><i class="icon-twitter icon-fixed-width"></i>Twitter</a><br>
</p>

<hr>
<p>
<b>Adresse postale:</b><br>
Spatialys<br>
29, rue de Paris<br>
78600 MAISONS-LAFFITTE<br>
FRANCE<br>
</p>
<p>

<hr>
<b>Mentions légales:</b><br>
Spatialys, SARL au capital de 7500 euros<br>
Immatriculée au Registre du Commerce et des Sociétés (803 523 364 R.C.S VERSAILLES)<br>
TVA intracommunautaire : FR 18 803523364<br>
</div>

{% include foot_fr.html %}