---
title: Bienvenue
permalink: fr/home/
---
{% include head_fr.html %}

<h1>Bienvenue chez Spatialys</h1>

<div class="row">
    <div class="col-sm-9 text-align-justify">
        <p>Spatialys est une société fondée par Even Rouault qui fournit
        à ses clients le meilleur de son expertise en matière
        de logiciels Open Source dans le domaine géospatial et des standards ouverts associés.</p>
        <p>Impliquée directement au sein des équipes de développement des projets
        <a href="http://gdal.org/">GDAL/OGR</a> et <a href="http://mapserver.org/">MapServer</a>,
        Spatialys peut prendre en charge la conception et le développement de nouvelles fonctionnalités
        à même d'être incluses dans la branche principale de ces projets, avec
        le niveau adéquat d'assurance qualité et de documentation.</p>
        <p>Spatialys peut vous assister dans le déploiement de ces technologies
        au sein de votre infrastructure, et vous aider à optimiser leur utilisation à vos besoins.</p>
<!--
        <h2>Our recent projects</h2>
        {% for post in site.categories.projects limit:2 %}
            <h4 class="media-heading"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <div class="media">
                <img class="media-object pull-right thumbnail" src="/thumbs/{{ post.thumbnail }}">
                <div class="media-body">
                    {{ post.excerpt | markdownify }}
                </div>
            </div>
        {% endfor %}
        <p><a href="/projects">More projects <i class="icon-double-angle-right"></i></a></p>
-->
    </div>
    <div class="col-sm-3">
        <h2>Technologies</h2>
        <div class="list-group">
            <a class="list-group-item" href="http://gdal.org/"><img src="/img/gdalicon.png" style="padding:1px"/>GDAL/OGR</a>
            <a class="list-group-item" href="http://mapserver.org/"><img src="/img/mapservericon.png" style="padding:2px">MapServer</a>
        </div>

        <h2>Nous contacter</h2>
        <div class="list-group">
            <a class="list-group-item" href="mailto:contact@spatialys.com"><i class="icon-envelope icon-fixed-width"></i>Email</a>
            <a class="list-group-item" href="https://github.com/rouault"><i class="icon-github icon-fixed-width"></i>GitHub</a>
            <a class="list-group-item" href="https://twitter.com/evenrouault"><i class="icon-twitter icon-fixed-width"></i>Twitter</a>
        </div>
    </div>
</div>

{% include foot_fr.html %}