---
title: Services
permalink: fr/services/
---
{% include head_fr.html %}

<h1>Services</h1>
<div class="text-align-justify">
<p>
Spatialys est en mesure d'offrir les services suivants à ses clients :
</p>
<ul>
<li>amélioration de fonctionnalités existantes, ou développement de <b>nouvelles fonctionnalités</b> <b>GDAL/OGR</b> ou <b>MapServer</b>,
respectant les règles de développement de ces projets et leurs processus qualité</li>
<li>conception, développement et amélioration de traducteurs de <b>nouveaux formats</b> dans GDAL/OGR,</li>
<li>analyse de problèmes de performances, et réalisation des améliorations en conséquence,</li>
<li><b>corrections des problèmes</b> que nos clients peuvent rencontrer,</li>
<li>prise en charge et amélioration de leurs propres contributions pour l'inclusion dans le projet amont,</li>
<li><b>assistance</b> à l'intégration de GDAL/OGR ou MapServer dans leur propre logiciel et infrastructure,</li>
<li><b>conseil et expertise</b> sur les problématiques liées aux données géospatiales.</li>
<li><b>formation</b> pour tous les niveaux sur GDAL/OGR.</li>
</ul>
<p>
Et pour toute autre demande en lien ou connexe des problématiques ci-dessus, n'hésitez pas à <a href="/fr/contact/">nous contacter</a>
</p>
</div>

{% include foot_fr.html %}